
.ok1
{
    margin-top: 40px;
    display: flex;
    padding-left:40px;
    justify-content: space-between;
    padding-right:40px;
}

.ok
{
    background-color: rgb(170, 187, 59);
}

.ok h1
{
    padding-top: 20px;
    margin-left: 780px;
}